.image {
    width: 100vw;
    height: auto; /* Ensure the image maintains its aspect ratio */
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
  }
  
  .heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    color: white;
    z-index: 999;
    background-color: transparent;
    width: 80%; /* Flexible width */
    max-width: 50vw; /* Limit width on larger screens */
    top: 25rem;
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
  
    @media (max-width: 1024px) {
      top: 22rem;
      max-width: 50vw; /* Adjust for larger tablets and smaller laptops */
    }
  
    @media (max-width: 768px) {
      top: 18rem;
      max-width: 60vw; /* Adjust for tablets */
    }
  
    @media (max-width: 480px) {
      top: 12rem;
      max-width: 100vw; /* Further adjust for mobile screens */
    }
  }
  
  .Heading {
    font-size: 7rem; /* Original size for large screens */
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
  
    @media (max-width: 1024px) {
      font-size: 5.5rem; /* Scale down for larger tablets and smaller laptops */
    }
  
    @media (max-width: 768px) {
      font-size: 4rem; /* Scale down on tablets */
    }
  
    @media (max-width: 480px) {
      font-size: 3rem; /* Scale down further on mobile */
    }
  }
  
  .one-stop {
    font-size: 4rem; /* Original size for large screens */
    font-family: "Covered By Your Grace", cursive;
  
    @media (max-width: 1024px) {
      font-size: 3rem; /* Scale down for larger tablets and smaller laptops */
    }
  
    @media (max-width: 768px) {
      font-size: 2.5rem; /* Scale down on tablets */
    }
  
    @media (max-width: 480px) {
      font-size: 2rem; /* Scale down further on mobile */
    }
  }
  
  .welcome {
    font-size: 1.5rem; /* Original size */
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    max-width: 30vw;
  
    @media (max-width: 1024px) {
      font-size: 1.3rem; /* Scale down for larger tablets and smaller laptops */
    }
  
    @media (max-width: 768px) {
      font-size: 1.2rem; /* Scale down on tablets */
    }
  
    @media (max-width: 480px) {
    margin-top: 3rem;
      font-size: 1rem; /* Scale down further on mobile */
    }
  }
  
  .about-button {
    font-size: 1.5rem; /* Original size */
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: white;
    background-color: #4baf47;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    width: 50%; /* Flexible button width */
  
    @media (max-width: 1024px) {
      font-size: 1.4rem;
      padding: 0.9rem 1.7rem;
      width: 55%;
    }
  
    @media (max-width: 768px) {
      font-size: 1.3rem;
      padding: 0.8rem 1.5rem;
      width: 65%;
    }
  
    @media (max-width: 480px) {
      font-size: 1.2rem;
      padding: 0.7rem 1.2rem;
      width: 75%;
    }
  }