.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px; /* Fixed height to contain the dropdown */
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    top: 50px;
    right: 25px;
    z-index: 5;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

    @media screen and (max-width: 800px) {
      right: 20px;
      top: 80px;
    }

    @media screen and (max-width: 468px) {
      right: 10px;
      top: 70px;
    }

    .cart-empty-message {
      font-size: 16px;
      margin: 50px auto;
      color: #757575;
      text-align: center;
    }

    .cart-dropdown-items {
      height: 240px; /* Height to keep the dropdown compact */
      display: flex;
      flex-direction: column;
      overflow-y: auto; /* Allows vertical scrolling */
      padding-right: 10px;
    }

    .cart-dropdown-items::-webkit-scrollbar {
      width: 6px; /* Narrower scrollbar */
    }

    .cart-dropdown-items::-webkit-scrollbar-track {
      background: #f1f1f1; /* Scrollbar track color */
    }

    .cart-dropdown-items::-webkit-scrollbar-thumb {
      background-color: #888; /* Scrollbar color */
      border-radius: 10px;
    }

    .cart-dropdown-items::-webkit-scrollbar-thumb:hover {
      background: #555; /* Scrollbar color on hover */
    }

    .cart-dropdown-total {
      margin-top: 10px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #333;
    }

    .cart-dropdown-checkout-button {
      margin-top: auto;
      background-color: #4baf47;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #43a140;
      }

      &:focus {
        outline: none;
      }
    }
}
